<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/bootstrap-4.5.3/css/bootstrap.min.css" rel="stylesheet">
    <title>Error info</title>
</head>
<body>
<div class="container-fluid">
    <div class="row pt-2 bg-dark">
        <div class="col">
            <h5 class="text-white"><span class="font-weight-bold" sec:authentication="name">admin@mail.ru</span> with roles:<span class="text-uppercase" th:each="role : ${#authentication.principal.authorities}" th:text="${' ' + role}">ROLE1 ROLE2 ...</span></h5>
        </div>
        <div class="col-auto">
            <a class="text-white-50" style="font-size: 1.15rem" th:href="@{/logout}">Logout</a>
        </div>
    </div>
    <div class="container pt-3 text-center">
        <div class="alert alert-danger rounded mx-auto text-monospace">
            <b th:text="${errorMessage}">Exception stack trace</b>
        </div>
        <a th:href="@{${#authorization.expr('hasRole(''ROLE_ADMIN'')') ? '/admin' : '/user'}}" type="button" class="btn btn-danger mx-auto">Back to main page</a>
    </div>
</div>
</body>
</html>