<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8">
        <!-- Подключаем bootstrap -->
        <link rel="stylesheet" href="/bootstrap-4.5.3/css/bootstrap.min.css">
        <style>
            html, body {
                height: 100%;
            }
        </style>
        <title th:text="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'Admin panel' : 'User page'">Title</title>
    </head>
    <body>
        <div class="container-fluid h-100 d-flex flex-column">
            <div class="row pt-2 bg-dark">
                <div class="col">
                    <h5 class="text-white"><span class="font-weight-bold" sec:authentication="name">admin@mail.ru</span> with roles:<span th:each="role : ${#authentication.principal.authorities}" th:text="${' ' + role}">ROLE1 ROLE2 ...</span></h5>
                </div>
                <div class="col-auto">
                    <a class="text-white-50" style="font-size: 1.15rem" th:href="@{/logout}">Logout</a>
                </div>
            </div>
            <div class="row flex-grow-1">
                <div class="col-2 px-0 pt-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tabs" role="tablist" aria-orientation="vertical">
                        <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link active" id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin" role="tab" aria-controls="v-pills-admin" aria-selected="true">Admin</a>
                        <a class="nav-link" th:classappend="${#authorization.expression('!hasRole(''ROLE_ADMIN'')')} ? 'active'" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab" aria-controls="v-pills-user" th:attrappend="aria-selected=${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'false' : 'true'">User</a>
                    </div>
                </div>
                <div class="col p-4 bg-light">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div sec:authorize="hasRole('ROLE_ADMIN')" class="tab-pane fade show active" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab">
                            <h1>Admin panel</h1>
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-link active" id="nav-userstable-tab"  href="#nav-userstable" role="tab" aria-controls="nav-userstable" aria-selected="true">Users table</a>
                                    <a class="nav-link" id="nav-newuser-tab"  href="#nav-newuser" role="tab" aria-controls="nav-newuser" aria-selected="false">New User</a>
                                </div>
                            </nav>
                            <div class="tab-content border border-top-0 rounded-bottom" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-userstable" role="tabpanel" aria-labelledby="nav-userstable-tab">
                                    <div class="border-bottom pl-4 py-2 bg-light">
                                        <span class="h4">All users</span>
                                    </div>
                                    <div class="p-4 bg-white">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Surname</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Job</th>
                                                <th scope="col">Income</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Roles</th>
                                                <th scope="col" class="text-center border-left">Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody id="users-table">
                                                <!-- Таблица генерируется скриптом admin-script.js -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-newuser" role="tabpanel" aria-labelledby="nav-newuser-tab">
                                    <div class="border-bottom pl-4 py-2 bg-light">
                                        <span class="h4">Add new users</span>
                                    </div>
                                    <div class="bg-white py-4 d-flex justify-content-center">
                                        <form style="width: 30%" id="new-user-form" class="text-center" novalidate>
                                            <div class="form-group">
                                                <label class="h5 font-weight-bold" for="name">First name<span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="name" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="h5 font-weight-bold" for="surname">Surname<span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="surname" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="h5 font-weight-bold" for="age">Age<span class="text-danger">*</span></label>
                                                <input type="number" class="form-control" id="age" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="h5 font-weight-bold" for="job.name">Job</label>
                                                <input type="text" class="form-control" id="job.name">
                                            </div>
                                            <div class="form-group">
                                                <label class="h5 font-weight-bold" for="job.salary">Salary</label>
                                                <input type="number" class="form-control" id="job.salary">
                                            </div>
                                            <div class="form-group">
                                                <label class="h5 font-weight-bold" for="email">Email<span class="text-danger">*</span></label>
                                                <input type="email" class="form-control" id="email" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="h5 font-weight-bold" for="password">Password<span class="text-danger">*</span></label>
                                                <input type="password" class="form-control" id="password" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="h5 font-weight-bold" for="roles">Roles</label>
                                                <select class="form-control" id="roles" multiple>
                                                </select>
                                            </div>
                                            <button type="button" id="new-user-submit" class="btn btn-success mt-3"><span class="h4">Add new user</span></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" th:classappend="${#authorization.expression('!hasRole(''ROLE_ADMIN'')')} ? 'show active'" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                            <h1>User information-page</h1>
                            <div class="border rounded bg-white">
                                <div class="border-bottom bg-light pl-4 py-2">
                                    <span class="h4">About user</span>
                                </div>
                                <div class="p-4">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Surname</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Job</th>
                                            <th scope="col">Income</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Roles</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr id="current-user-data">
                                            <!-- Таблица генерируется скриптом script.js -->
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Модальные окна -->
        <!-- Удаление пользователя -->
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteUserModalLabel">Please confirm deletion of user with:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body d-flex justify-content-center">
                        <form style="width: 65%;" class="text-center">
                            <fieldset disabled>
                                <div class="form-group">
                                    <label class="h5 font-weight-bold" for="id">ID</label>
                                    <input type="text" class="form-control text-center" id="id">
                                </div>
                                <div class="form-group">
                                    <label class="h5 font-weight-bold" for="name">First name</label>
                                    <input type="text" class="form-control text-center" id="name">
                                </div>
                                <div class="form-group">
                                    <label class="h5 font-weight-bold" for="surname">Surname</span></label>
                                    <input type="text" class="form-control text-center" id="surname">
                                </div>
                                <div class="form-group">
                                    <label class="h5 font-weight-bold" for="age">Age</label>
                                    <input type="number" class="form-control text-center" id="age">
                                </div>
                                <div class="form-group">
                                    <label class="h5 font-weight-bold" for="job.name">Job</label>
                                    <input type="text" class="form-control text-center" id="job.name">
                                </div>
                                <div class="form-group">
                                    <label class="h5 font-weight-bold" for="job.salary">Salary</label>
                                    <input type="text" class="form-control text-center" id="job.salary">
                                </div>
                                <div class="form-group">
                                    <label class="h5 font-weight-bold" for="email">Email</label>
                                    <input type="email" class="form-control text-center" id="email">
                                </div>
                                <div class="form-group">
                                    <label class="h5 font-weight-bold" for="roles">Roles</label>
                                    <select class="form-control text-center" id="roles" multiple>
                                    </select>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" id="delete-user-submit" class="btn btn-danger">Confirm</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Редактирование пользователя -->
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="modal fade" id="editUserModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editUserModalLabel">Please edit user data and confirm to apply changes</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body d-flex justify-content-center">
                        <form style="width: 65%;" class="text-center">
                            <div class="form-group">
                                <label class="h5 font-weight-bold" for="id">ID</label>
                                <input type="text" class="form-control text-center" id="id" disabled>
                            </div>
                            <div class="form-group">
                                <label class="h5 font-weight-bold" for="name">First name</label>
                                <input type="text" class="form-control text-center" id="name">
                            </div>
                            <div class="form-group">
                                <label class="h5 font-weight-bold" for="surname">Surname</label>
                                <input type="text" class="form-control text-center" id="surname">
                            </div>
                            <div class="form-group">
                                <label class="h5 font-weight-bold" for="age">Age</label>
                                <input type="number" class="form-control text-center" id="age">
                            </div>
                            <div class="form-group">
                                <label class="h5 font-weight-bold" for="job.name">Job</label>
                                <input type="text" class="form-control text-center" id="job.name">
                            </div>
                            <div class="form-group">
                                <label class="h5 font-weight-bold" for="job.salary">Salary</label>
                                <input type="text" class="form-control text-center" id="job.salary">
                            </div>
                            <div class="form-group">
                                <label class="h5 font-weight-bold" for="email">Email</label>
                                <input type="email" class="form-control text-center" id="email">
                            </div>
                            <div class="form-group">
                                <label class="h5 font-weight-bold" for="password">Password</label>
                                <input type="password" class="form-control text-center" id="password">
                            </div>
                            <div class="form-group">
                                <label class="h5 font-weight-bold" for="roles">Roles</label>
                                <select class="form-control text-center" id="roles" multiple>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button id="edit-user-submit" type="button" class="btn btn-danger">Confirm</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Подключаем bootstrap -->
        <script src="/jquery/jquery-3.5.1.min.js"></script>
        <script src="/bootstrap-4.5.3/js/bootstrap.min.js"></script>
        <!-- Скрипты с реализацией AJAX функционала -->
        <script src="/js/script.js"></script>
        <script sec:authorize="hasRole('ROLE_ADMIN')" src="/js/admin-script.js"></script>
    </body>
</html>